<div class="container h-70 grid justify-center align-center mt-50 w-full bg-gray-200 rounded-lg shadow-xl p-4" >
    <h1 class="text-3xl font-bold mb-1">User Data</h1>
    <table class="w-full text-xl border">
        <thead class="bg-blue-400 border-b-2 ">
            <tr>
                <th>Title </th>
                <th>Value </th>
            </tr>
        </thead>
        <tbody class=" border">
            <tr><th>Name :</th>
            <td>{{CurrentUser.name}}</td>
            </tr>
            <tr><th>Email :</th>
            <td>{{CurrentUser.email}}</td></tr>

            <tr><th>Role :</th>
            <td>{{CurrentUser.role}}</td></tr>
        </tbody>
    </table>
</div>
